<%# <div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/_message_side_bar" %>
  <%# </div>
</div> %>
  <% if user_signed_in? %>
    <div class='group-header-menu'>
      <%= link_to "新規グループ作成", new_group_path %>
    </div class='group-header-menu'>
  <% end %>
<%# グループ一覧（ログインユーザーのみ可） %>
  <div class='group-contents'>
    <h2 class='group-title'>ルーム一覧</h2>
    <ul class='group-lists'>
      <% @groups.each do |group| %>
        <%= link_to group_messages_path(group.id) do %>
          <li class='group-list'>
          <div class='group-img-content'>
            <%= image_tag group.image.variant(resize: '200x200'), class: "group-img" if group.image.attached? %>
          </div>
        <% end %>
        <div class='gruop-info'>
          <h3 class='group-name'>
            <%= group.name %>
          </h3>
        </div>
        <% end %>
      </li>
    </ul>
    <%#= link_to "#","もっと見る" %>
  </div>
<%# /グループ一覧（ログインユーザーのみ可） %>