<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HobbyCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "HOBIC", root_path %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "#{current_user.nickname}", "/users/#{current_user.id}" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: :nav__logout %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
      </div>
    </header>
    <% if user_signed_in? %>
    <div class="menu">
      <div class="menu__var">
        <%= link_to "マイページ", root_path, class: :menu__btn %>
        <%= link_to "フレンド一覧", root_path, class: :menu__btn %>
        <%= link_to "グループ一覧", root_path, class: :menu__btn %>
        <%= link_to "つぶやき一覧", root_path, class: :menu__btn %>
        <%= link_to "日記一覧", root_path, class: :menu__btn %>
      </div class="menu__var">
    </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © HOBIC All rights reserved.</p>
    </footer>
  </body>
</html>
